ion-header{
    background-color: #000863;
}
  
ion-searchbar{
    width: 90%;
    left: 5%;
}
  
p{
    margin-left: 5%;
}

ion-icon{
    margin-left: 10%;
    font-size: 40px;
}

img{
    width: 30%;
    margin-left: 60%;
    margin-top: -100%;
}